/*
Colors used:
Primary Color (Black): ##000000, 0,0,0,1;
Secondary Color (Dark grey): #4D4D4D, 77,77,77,1;
BG-Primary Color (White): #FFFFFF, 255,255,255,1;
BG-Secondary Color (Light Grey): #ECECEC, 236,236,236,1;
Accent color (Neon Green): #CFFF0F, 207,255,15,1;
*/

/*
Font's used::
afterfont-family: 'Montserrat Alternates', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Trirong', serif;
*/

/*
#id	- #firstname - Selects the element with id="firstname"
.class - .intro - Selects all elements with class="intro"
element.class -	p.intro	- Selects only <p> elements with class="intro"
* - * - Selects all elements
element - p - Selects all <p> elements
element,element,.. - div, p - Selects all <div> elements and all <p> elements
*/

* {
    box-sizing: border-box;
}

html{scroll-behavior:smooth}

:root{
    --primaryc:rgba(0,0,0,1);
    --secondaryc: rgba(77,77,77,1);
    --tertiaryc: rgb(172, 172, 172);
    --secondaryc50: rgba(77,77,77,0.5);
    --bgprimaryc: rgba(255,255,255,1);
    --bgsecondaryc: rgb(238, 238, 238);
    --accentc: rgba(207,255,15,1);
    --errorc: rgb(214, 0, 36);

}

body {
    margin: 0;
    height: 100%;
    background-color: var(--bgprimaryc);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1rem; /* Sets the font size to 16px */
    font-weight: 400; /* Sets the font weight to 300 */
    line-height: 1.5; /* Sets the line-height to 1.6 * the font-size */
    color: var(--primaryc);
    position: relative;
}

img {
    width: 100%;
}
  
h1 {
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3rem; 
    font-weight: 800;
    line-height: 1; 
    color: var(--primaryc);
}

h2 {
    margin: 0;
    font-family: 'Trirong', serif;
    font-size: 1.5rem; 
    font-weight: 500;
    font-style: italic; 
    line-height: 1; 
    color: var(--primaryc);
    letter-spacing: 1px;
}

h3 {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1rem; 
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 1;
    text-transform: uppercase;
    color: var(--primaryc);
}



/* Layout styling */


    /* Common*/


    section {
        margin: 24px 0;
    }

    .container {
        max-width: 1200px;
        padding: 0 24px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .row {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    ul {
        margin: 0;
    }

    header {
        padding: 16px 0 12px 0;
        width: 100%;
        position: fixed;
        z-index: 9999;
        background: var(--primaryc); 
        box-shadow: 0 7px 18px rgba(0, 0, 0, 0.1)  ; 
        -webkit-box-shadow: 0 7px 18px rgba(0, 0, 0, 0.1)  ; 
        -moz-box-shadow: 0 7px 18px rgba(0, 0, 0, 0.1)  ; 
    }

    header .container {
        width: 100%;
        gap: 16px;
        display: flex;
        flex-direction: column;
    } 

    div .logo {
        width: 240px;
        max-width: 320px;
        filter: invert(100%);
        align-items: center;
        position: absolute;
        top: 18%;
    }

    nav {
        transition: 400ms;
        transition-timing-function: ease-in-out;
    }

    nav > ul {
        list-style-type: none;
        padding: 0;
        margin-block-start: 0;
        margin-block-end: 0;    
        gap: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tools .column-right-index > ul  {
        list-style-type: none;
        padding: 0;
        margin: 0;
        gap: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    nav > ul > li > a {
        text-transform: uppercase;
        font-weight: 700;
        color: var(--bgprimaryc);    
        transition: all 0.5s;
    }

    nav > ul > li > a:visited {
        color: var(--bgsecondaryc);
    }

    nav > ul > li > a:hover {
        color: var(--accentc);
        text-decoration: none;
    }

    nav > ul > li > a:focus {
        color: var(--accentc);
        text-decoration: none;
    }

    nav > ul > li > a:active {
        color: var(--bgprimaryc);
    }

    .navtoggle li:not(:last-child) {
        display: none;
    }
    
    .navtoggle, .navtoggle.responsive {
        position: relative;
        gap: 0;
        transition: 400ms;
    }

    .navtoggle li .icham {
        color: var(--bgprimaryc);
        position: absolute;
        right: 0;
        top: 16px;
        font-size: 20px;
        padding-right: 0;
    }

    .navtoggle.responsive nav {
        padding: 24px 0 0;
    }

    .navtoggle.responsive li  {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
    }
        
    .navtoggle.responsive li:last-child  {
        padding: 0 0 16px 0;
    }

    main {
        padding-top: 88.39px;
    }

    .hero {
        width: 100%;
        text-align: center;
    }

    .hero .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 2px solid var(--primaryc); 
    }

    .hero h1 {
        padding: 16px 0 16px 0;
        text-align: center;
    }

    .hero h2 {
        padding-bottom: 40px;
        max-width: 800px;
        text-align: center;
        line-height: 1.2;
    }
    
    .work .container {
        gap: 3.4rem;
    }

    .titlesnip {
        font-family: 'Trirong', serif;
        font-size: 1.8rem; 
        font-weight: 800;
        font-style: italic; 
        color: var(--primaryc);
    }
    
    .column-left-index {
        width: 100%;
        align-self: flex-start;
    }

    .column-right-index {
        width: 100%;
        display: flex;
        padding-bottom: 8px;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }

    .inline-subheader {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 18px; 
        font-weight: 800;
        letter-spacing: 1px;
        line-height: 1;
        text-transform: uppercase;
        color: var(--primaryc);
    }

    .fancy,
    .fancy:after
    .fancy2,
    .fancy2:after,
    .fancy2:before {
        display: none;
    }

    ol > li {
        padding-bottom: 16px;
    }



    .smlinks {
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: baseline;
    }

    .smic {
        width: 7rem;
        height: auto;  
    }

    .smic:visited{
        fill: var(--primaryc)
    }

    .smic:hover{
        fill: var(--tertiaryc)
    }

    .smic:focus{
        fill: var(--tertiaryc)
    }

    .smic:active{
        fill: var(--primaryc)
    }



    .icham:visited {
        fill: var(--primaryc)
    }
    
    .icham:hover {
        background-color: var(--tertiaryc)
    }
  
    .icham:focus {
        fill: var(--tertiaryc)
    }

    .icham:active {
        fill: var(--primaryc)
    }


    .mobile-scn{
        cursor: pointer;
        transition: 0.3s;
    }

    .mobile-scn:hover {opacity: 0.7;}
    

    /* The Modal (background) */
    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
    }

    @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
    }

    /* The Close Button */
    .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    }

    .close:hover,
    .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
    }


    .contact {
        /* height: calc(100vh - 181.66px); */
        min-height: 100vh;
        display: flex;
        flex-direction: column;    
    }

    footer {
        margin-top: auto;
        background-color: var(--bgsecondaryc);
        text-align: center;
        padding: 40px 0 40px 0;
    }

    footer p {
        margin: 0;
    }
    

    /* Index & Misc pages*/  

    .work .row,
    .tools .row,
    .pjt-des .row { 
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .section-img {
        box-shadow: 8px 8px 0px 0px var(--accentc);
    }
    
    #about-picture {
        width: 100%;
        max-width: 100%;
        height: auto;
    }


    /* About me page*/

    .aboutme .row { 
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .skills .container {
        padding: 24px 24px;
    }

    .skills .row > ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 20px;
        width: 100%;
    }

    .tools .row .ic-grid{
        margin: auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);  
        gap: 1em;
    }
    
    .ic-grid {
        list-style-type: none;
        padding: 0;
    }     

    .icon{
        max-height: 50px;
    }

    .aboutme #illustration{
        justify-content: center;
    }

    .aboutme svg{
        max-width: 800px;
        height: auto;
        align-items: center;
        text-align: center;
    }

    .aboutme .column-right-index {
        gap: 8px;
    }

    /* Project pages */

    .pjt .hero {
        margin-top: 0;
    }
    
    .pjt .hero .container {
        padding: 0 24px;
        border: 0;
    }

    .cvr-img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .ogscreens {
        padding: 20px 20px;
        gap: 16px;
        border-radius: 10px;
        background-color: var(--bgsecondaryc);
        width: 100%;
        display: grid;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);  
        gap: 2em;
        text-align: center;
    }
    
    .mobile-scn {
        max-width: 200px;
    }

    .column-left {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-self: flex-start;
    }

    .column-right {
        display: flex;
        padding-bottom: 8px;
        flex-direction: column;
        justify-content: space-between
    }

    .video-wrapper {
        display: flex;
        justify-content: center;
    }
    
    .video-container {
    	max-width: 20rem;
    }
/*  
    .pcenter {
        margin: 0 auto;
        width: 100%;
        max-width: 500px;
        text-align: center;
        vertical-align: middle;        
    } */

    .idea-bubbles {
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }

    .bulbic {
        height: 80px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .bubbleic{
        position: relative;
        display: inline-block;
        padding: 40px 20px 24px 20px;
        border-radius: 10px;
        max-width: 300px;
        text-align: center;
        font-weight: 400;
        color: var(--bgprimaryc);
        background-color: rgba(143, 80, 249, 1);
    }

    #ideation {
        display: none;
    }

    #findings {
        display: none;
    }

/*=====  End of Layout styling  ======*/



/* Form styling */

    #formcarry-container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 20px 32px 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1rem; 
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 1;
    text-transform: uppercase;
    color: var(--primaryc);
    max-width: 600px;
  }

    #formcarry-container * {
    padding: 8px 0;
  }

  #formcarry-container label {
    display: inline-block;
    cursor: pointer;
  }

  .formcarry-block {
    display: flex;
    flex-direction: column;
    /* align-items: left; */
  }

  #formcarry-container .formcarry-block:not(:first-child) {
    margin-top: 10px;
  }

  /*=============================================
  =            Fields           =
  =============================================*/
  
  #formcarry-container input,
  #formcarry-container textarea,
  #formcarry-container select {
    margin-top: 4px;
    width: 100%;
    height: 42px;
    border: 2px solid var(--primaryc);
    color: var(--primaryc);
    background-color: var(--bgprimaryc);
    padding: 8px 12px;
    
    background-color: var(--bgprimaryc);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1rem; 
    font-weight: 400;
    transition: 125ms background, 125ms color, 125ms box-shadow;
  }

  #formcarry-container textarea{
    min-height: 188px;
    max-width: 100%;
    padding-top: 12px;
  }

  #formcarry-container input::placeholder,
  #formcarry-container textarea::placeholder,
  #formcarry-container select::placeholder {
    color: var(--tertiaryc);
  }

  #formcarry-container input:hover,
  #formcarry-container textarea:hover,
  #formcarry-container select:hover {
    border-color: var(--tertiaryc);
    background-color: var(--bgsecondaryc);
  }

  #formcarry-container input:hover::placeholder,
  #formcarry-container textarea:hover::placeholder,
  #formcarry-container select:hover::placeholder {
    color: var(--tertiaryc);
  }

  #formcarry-container input:focus,
  #formcarry-container textarea:focus,
  #formcarry-container select:focus {
    background-color: var(--bgprimaryc);
    border: 2px solid var(--primaryc);
  }

  #formcarry-container input:focus,
  #formcarry-container select:focus {
    outline: none;
    border: 2px solid var(--primaryc);
    padding: 8px 11px;
  }

  #formcarry-container textarea:focus {
    outline: none;
    border: 2px solid var(--primaryc);
    padding: 11px;
  }

  #formcarry-container select {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9997 14.5001L8.46387 10.9642L9.64303 9.78589L11.9997 12.1434L14.3564 9.78589L15.5355 10.9642L11.9997 14.5001Z' fill='%236C6F93'/%3E%3C/svg%3E%0A");
    background-size: 24px 24px;
    background-position: 98%;
    background-repeat: no-repeat;
    appearance: none;
    -webkit-appearance: none;
  }

  #formcarry-container input:focus:required:invalid,
  #formcarry-container input:focus:invalid, 
  #formcarry-container select:focus:required:invalid,
  #formcarry-container select:focus:invalid
  {
    color: var(--errorc); 
    border-color: var(--errorc);
    box-shadow: 6px 6px var(--errorc);
  }

/*=====  End of Fields  ======*/




/* Link and button styling */



    a { /* link styling */
        color: var(--secondaryc);
        text-decoration: none; /* No underlining */
    }

    a:visited { /* visited link */
        color: var(--secondaryc);
    }

    a:hover { /* hover link */
        color: var(--secondaryc);
    }

    a:focus {
        color: var(--secondaryc);
        text-decoration: underline;
    }

    a:active { /* selected link */
        color: var(--secondaryc);
    }

    .button {
        display: inline-block;
        border: 4px solid var(--primaryc);
        padding: 16px 24px 12px 24px;
        box-shadow: 8px 8px 0px 0px var(--primaryc);
        background-color: var(--bgprimaryc);
        font-family: 'Nunito Sans', sans-serif;
        font-size: 18px; 
        font-weight: 800;
        color: var(--primaryc);
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.4s;
    }

    .button:visited {
        color: var(--primaryc);
        background-color: var(--bgprimaryc);
        text-decoration: none;
    }

    .button:hover {
        box-shadow: 0px 0px 0px 0px var(--primaryc);
        background-color: var(--primaryc);
        color: var(--bgprimaryc);
        text-decoration: none;
    }

    .button:focus {
        color: var(--primaryc);
        background-color: var(--bgprimaryc);
        text-decoration: none;
    }

    .button:active {
        box-shadow: 0px 0px 0px 0px var(--primaryc);
        background-color: var(--primaryc);
        color: var(--bgprimaryc);
        text-decoration: none;
    }

    .button:disabled {
        color: var(--bgsecondaryc);
        background-color: var(--bgsecondaryc);
        text-decoration: none;
    }

    header .button {
        border: 2px solid var(--bgprimaryc);
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 14px;
        background-color: var(--primaryc);
        color: var(--bgprimaryc);
        font-weight: 600;
        max-width: 220px;
        transition: color 0.2s linear, letter-spacing 0.2s ease-in-out;
    }

    header .button:visited {
            color: var(--bgprimaryc);
            background-color: var(--primaryc);
    }

    header .button:hover {
            color: var(--bgprimaryc);
            letter-spacing: 0.15em;
    }

    .effect01 {
        overflow: hidden;
        position: relative;
        transition: all 0.3s ease-in-out;
    }
     
    .effect01::after{
            background: var(--bgprimaryc);
            border: 0px solid var(--bgprimaryc);
            content: "";
            height: 155px;
            left: -75px;
            opacity: 0.8;
            position: absolute;
            top: -50px;
            -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
            width: 50px;
            transition: all 1s cubic-bezier(0.075,0.82, 0.165, 1);
            z-index: 1;
    }
    
    .effect01:hover::after {
            background-color: var(--primaryc);
            font-size: 20px;
            border: 20px solid var(--bgprimaryc);
            opacity: 1;
            left: 120%;
            -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
    }

/*=====  End of Links and button styling  ======*/
  
@media only screen and (min-width: 768px) {

    /* .video-wrapper {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translate(-50%,-50%);
    } */

    footer {
        background-color: var(--bgsecondaryc);
        text-align: center;
        padding: 40px 0 40px 0;
    }
  
    header {
        padding: 16px 0;
    }

    header .button {
        font-size: 18px;
        max-width: 320px;
    }      

    .skills .row > ul {
        height: 120px;
    }

    .ogscreens {
        grid-template-columns: repeat(3, 1fr);  
        gap: 2em;
    }

    .idea-bubbles {
        padding-top: 20px;
        flex-direction: row;
        justify-content: center;
    }
    
    .tools .row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .column-left-index img {
        object-fit: cover;
        aspect-ratio: 16/9;
    }

    .navtoggle li:not(:last-child) {
        display: inline-block;
    }

    .navtoggle li:last-child {
        display: none;
    }


    /* nav {
        width: auto;  
    } */

    .navtoggle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    } 

    
    nav > ul {
        margin: 1em 0;
        gap: 3rem;
        flex-direction: row;
    }

    h1 {
        font-size: 4rem;
    }
    
    main {
        width: auto;
        padding-top: 93.58px;
    }

}

@media only screen and (min-width: 992px) {
    
    /* Project pages */

    .video-wrapper {
        position: absolute;
        left: 16%;
        top: 70%;
        transform: translate(-50%,-50%);
    }

    .ogscreens {
        grid-template-columns: repeat(5, 1fr);  
        gap: 2em;
    }

    .centeralign {
        max-width: 800px;
        text-align: center;
        margin: 0 auto;
    }
    
    .cvr-img {
        height: 300px;
    }

    .idea-bubbles {
        padding-top: 0px;
    }

    #testing .container {
        position: relative;
    }

    #insight1 {
        position: absolute;
        top: 44%;
        right: -5%;
        transform: translate(-50%,-50%);
    }
    
    #insight2 {
        position: absolute;
        bottom: 10%;
        right: 0%;
        transform: translate(-50%,-50%);
    }


    #findings .container  {
        position: relative;
        padding: 60px;
    } 

    .bubble{
        padding: 24px 20px;
        border-radius: 10px;
        width: 300px;
        text-align: center;
        font-weight: 400;
        color: var(--bgprimaryc);
        background-color: rgba(143, 80, 249, 1);
    }

    #idea1 {
        position: absolute;
        top: 20%;
        left: 20%;
        transform: translate(-50%,-50%);
    }

    #idea2 {
        position: absolute;
        top: 60%;
        right: -10%;
        transform: translate(-50%,-50%);
    }
    
    #idea3 {
        position: absolute;
        left: 30%;
        bottom: -6%;
        transform: translate(-50%,-50%);
    }

    #ideation .container  {
        position: relative;
    } 

    
    #wireframes {
        position: absolute;
        left: 48%;
        top: 10%;
        width: 400px;
        transform: translate(-50%,-50%);
        color: var(--primaryc);
        background-color: var(--bgprimaryc);
    }

    #flow .container {
        position: relative;
        padding-bottom: 100px;
    } 

    .ogscreens{
        flex-direction: row;
    }

    #ideation-mobile {
        display: none;
    }

    #ideation {
        display: block;
    }

    #findings-mobile {
        display: none;
    }

    #findings {
        display: block;
    }
    
    .pjt .container{
        border: 0;
    }


    /* Contact page */ 

    /* #contactfooter {
        width: 100%;
        position: absolute;
        bottom: 0;
    } */



    /* About me page */

    .skills .row > ul {
        height: 100px;
    }

    .tools .row .ic-grid{
        margin: auto;
        display: grid;
        grid-template-columns: repeat(7, 1fr);  
        gap: 2em;
    }

    .pjt-des .row,
    .tools .row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    
    /* Index page */

    .work .row,
    .aboutme .row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 40px;
    }   

    .work .container {
        gap: 40px;
    }


    /* Common */
    
    .fancy{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .fancy:after {
        content: '';
        border-top: 2px solid;
        margin: 0px 40px;
        flex: 1 0 20px;
    }
    
    .fancy2{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .fancy2:before,
    .fancy2:after {
        content: '';
        border-top: 2px solid;
        margin: 40px 40px;
        flex: 1 0 20px;
    }
    
    .column-left {
        width: 50%;
    }

    .column-right {
        width: 50%;
    }

    .column-left-index {
        width: 40%;
    }

    .column-left-index img {
        aspect-ratio: 1/1;
    }

    .column-right-index {
        width: 60%;
    }

    .aboutme .column-right-index {
        width: 60%;
        justify-content: space-between;
        gap: 0;
    }

    .hero h1 {
        padding: 52px 0 40px 0;
    }

    .hero h2 {
        padding-bottom: 76px;
    }

}

/* Animations */

/* .sun {
    animation: rotate 4s linear infinite ;
}

.cloud {
    animation: 30s cloud-move infinite alternate linear;
}

.cloud2 {
    animation: 30s cloud-move-reverse infinite alternate linear;
}

@keyframes cloud-move {
    from {transform: translate(80px,80px);}
    to {transform: translate(200px,80px);}
}

@keyframes cloud-move-reverse {
    from {transform: translate(300px,10px);}
    to {transform: translate(100px, 10px);}
}

@keyframes rotate {
    0% {rotate: 0deg;}
    100% {rotate: z 150deg;}
} */
